.container {
  display: flex;
  justify-content: center;
}

.form {
  font-family: Lato;
  font-style: italic;
  letter-spacing: 0.4px;
  font-weight: 500;
  background-color: #117edd;
  color: #d2e6f8;
  height: 541.44px;
  width: 528.96px;
  padding: 18px 29px;
}

.nameLabel {
  display: block;
  margin-bottom: 9px;
}

.name {
  line-height: normal;
  font-size: large;
  letter-spacing: -0.5px;
  padding: 0 10px;
  padding-bottom: 2px;
  margin-bottom: 31px;
  display: block;
  width: 100%;
  height: 44px;
  background-color: inherit;
  color: inherit;
  border: 1px solid #8fc2ed;
  outline: none;
}

.wrapper {
  display: flex;
  margin-bottom: 39px;
}

.dateContainer {
  position: relative;
  display: inline-block;
  width: 194px;
  margin-right: 18px;
}

.dateLabel {
  display: block;
  margin-bottom: 9px;
}

.date {
  display: block;
  width: 100%;
  height: 44px;
  background-color: inherit;
  color: inherit;
  border: 1px solid #8fc2ed;
  outline: none;
  padding: 0;
  padding-left: 5px;
  padding-bottom: 5px;
  letter-spacing: 0.4px;
}

.dateSvg {
  position: absolute;
  top: 11px;
  left: 12px;

  filter: invert(95%) sepia(73%) saturate(1472%) hue-rotate(176deg)
    brightness(105%) contrast(95%);
}

.countryContainer {
  display: inline-block;
}

.countryLabel {
  display: block;
  margin-bottom: 9px;
}

.country {
  width: 258.5px;
  height: 44px;
  padding: 0 11px 2px;
  font-size: large;
  letter-spacing: -1px;
  background-color: #117edd;
  color: inherit;
  border: 1px solid #8fc2ed;
  outline: none;
}

.schoolLabel {
  display: block;
  margin-bottom: 8.5px;
  letter-spacing: 0.42px;
}

.school {
  line-height: normal;
  font-size: large;
  letter-spacing: -0.4px;
  padding: 0 10px 2.5px;
  margin-bottom: 31px;
  display: block;
  width: 100%;
  height: 44px;
  background-color: inherit;
  color: inherit;
  border: 1px solid #8fc2ed;
  outline: none;
}

.detailsLabel {
  display: block;
  margin-bottom: 8.5px;
  letter-spacing: 0.42px;
}

.details {
  width: 100%;
  height: 160px;
  padding: 11px 11px;
  font-style: italic;
  font-weight: 400;
  font-size: medium;
  letter-spacing: 0.42px;
  background-color: inherit;
  color: inherit;
  border: 1px solid #8fc2ed;
  outline: none;
  resize: none;
}

.details::placeholder {
  color: #72a7e4;
}
